* {
  margin: 0;
  padding: 0;
}
#parent {
  height: 500px;
  width: 500px;
  background-color: #333;
  /* tells the children to move within the parent */
  position: relative;
}
.box {
  height: 100px;
  width: 100px;
}

.b1 {
  background-color: tan;
}
.b2 {
  background-color: thistle;
}
.b3 {
  background-color: teal;
}
.b4 {
  background-color: tomato;
  position: sticky;
  top: 10px;
}

/* in case of position absolute the element move in relation to the viewport (by default) , 
but  can be forced to move within parent
and doesn't remains part of document flow  */
