@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

p {
  font-family: sans-serif;
}

.wrapper {
  text-align: center;
  padding: 4rem 12rem;
}

.l-2 {
  font-weight: 600;
  text-shadow: -2px 2px 2px grey;
  font-size: 3rem;
}

#features .parent .child {
  width: 25%;
}
#features .parent .child i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: tomato;
}
#features .parent .child:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#features .parent .child:hover i {
  text-shadow: -2px 2px 2px grey;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#features .parent .child:hover h3 {
  color: tomato;
}

#download {
  color: #fff;
  background-color: tomato;
}
